body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container-header, .container-footer {
    background-color: #1F2937;
    padding: 20px 125px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}


.header-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.header-links li a, .hb-left p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 100px;
}

.hb-left h1 {
    font-size: 48px;
    font-weight: 800;
    margin-top: 0;
    color: #F9FAF8;
}

.hb-left button {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882F6;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

.header-bottom img {
    max-width: 400px;
}

/* Second container below */
.container-2 {
    padding: 20px 125px 100px 125px;
}

.container-2 h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 20px 0;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0 0 0;
}

.icontainer {
    text-align: center;
    max-width: 160px;
}

.icontainer img {
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.icontainer p {
    margin: 5px 0;
}

/* Third container below */
.container-3 {
    background-color: #e5e7eb;
    padding: 100px 125px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.author {
    color: #1f2937;
    font-weight: 1000;
    font-size: 20px;
    text-align: right;
}

/* Fourth container below */
.container-4 {
    padding: 100px 125px;
}

.blue-container {
    background: #3882F6;
    border-radius: 5px;
    padding: 40px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-title {
    color: #F9FAF8;
    font-size: 20px;
    margin: 5px 0;
}

.call-text {
    color: #e5e7eb;
    font-size: 15px;
    margin: 5px 0;
} 

.blue-container button {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882F6;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 5px;
    min-width: 125px;
}

/* Footer container below */
.container-footer p, .container-footer a{
    color: #F9FAF8;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

